<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/my_app.js"></script>
    <script type="text/javascript" src="/javascripts/TestController.js"></script>

</head>

<body ng-app="myApp">

<div ng-controller="TestController">
    <h1>{{txt}}</h1>
</div>


</body>
</html>
